[submodule "libft"]
	path = libft
	url = git@github.com:Florian-Varrin/42-libft.git
[submodule "libstack"]
	path = libstack
	url = git@github.com:Florian-Varrin/42-libstack.git
[submodule "minilibx"]
	path = minilibx
	url = git@github.com:42Paris/minilibx-linux.git
